<turbo-frame id="break-out">
    <ul>
        <li><a href="/page1" th:href="@{/page1}" data-turbo-frame="_top">Simple Turbo Frames</a></li>
        <li><a href="/page2" th:href="@{/page2}" data-turbo-frame="_top">Turbo Frames: Lazy loading and remote interactions</a></li>
        <li><a href="/page3" th:href="@{/page3}" data-turbo-frame="_top">Turbo Frames: breaking out</a></li>
        <li><a href="/page4" th:href="@{/page4}" data-turbo-frame="_top">Turbo Streams</a></li>
    </ul>
</turbo-frame>
