<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::html-head">
    <title>Hotwire Demo</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragments/header::header}"></header>
        <nav th:replace="~{fragments/main_navigation::main_navigation('')}" aria-label=""></nav>
        <main>
            <h1>Hotwire Demo</h1>
            <p>Welcome to the Hotwire Demo. You can find individual features on the subpages.</p>
            <ul>
                <li><a href="/page1">Simple Turbo-Frames: showcasing interaction with only a part of your page.</a></li>
                <li><a href="/page2">Turbo-Frames: Lazy loading and remote interaction. Showcasing how to lazy load parts of your page and interact with frames that are elsewhere on the page.</a></li>
                <li><a href="/page3">Turbo Frames: breaking out. Showcasing how to leave the environment of a Turbo Frame</a></li>
                <li><a href="/page4">Turbo Streams: Showcasing doing multiple updates at once.</a></li>
                <li><a href="/page5">Turbo Streams over WS: Sending turbo-streams updates over Websockets.</a></li>
                <li><a href="/page6">Turbo Streams over SSE: Sending turbo-streams updates over SSE.</a></li>
                <li><a href="/page7">Turbo Streams over WS with CE: Using a Custom Element to set up the TurboStreams WS Connection.</a></li>
            </ul>
        </main>
        <footer th:replace="~{fragments/footer::footer}" />
    </div>
    <script src="js/index.js" type="module" async defer></script>
</body>
</html>