<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::html-head">
    <title>Hotwire Demo</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragments/header::header}"></header>
        <nav th:replace="~{fragments/main_navigation::main_navigation('page2')}" aria-label=""></nav>
        <main>
            <h1>Page 2</h1>
            <p>This pages currently only serves to showcase navigating with <a href="https://turbo.hotwire.dev/handbook/drive">Turbo
                    Drive</a></p>

            <h2>Showcasing lazy loaded Turbo Frames</h2>
            <p>Let's move on to showcase <a href="https://turbo.hotwire.dev/handbook/frames#lazily-loading-frames">lazy loaded Turbo Frames</a></p>
            
            <h3>✨ these comments are loaded automagically ✨</h3>
            <turbo-frame id="comments" src="/messages/comments">
                <img src="/images/spin.gif" alt="Waiting icon">
            </turbo-frame>

            <h2>Showcasing addressing a frame somewhere else</h2>
            <p>You also can interact with a <a href="https://turbo.hotwire.dev/handbook/frames#targeting-navigation-into-or-out-of-a-frame">turbo-frame that youre interactive element does not live in</a></p>
            <h3>✨ Remove comments ✨</h3>
            <p>The following form removes comments <em>from the list above</em>.</p>
            <p>Submitting it should only trigger a reload of the frame above, not the whole site</p>
            <form action="/messages/comments/remove" method="post" data-turbo-frame="comments">
                <button type="submit">Remove comment</button>
            </form>
        </main>
        <footer th:replace="~{fragments/footer::footer}" />
    </div>
    <script src="js/index.js" type="module" async defer></script>
</body>
</html>