<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::html-head">
    <title>Hotwire Demo</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragments/header::header}"></header>
        <nav th:replace="~{fragments/main_navigation::main_navigation('page4')}" aria-label=""></nav>
        <main>
            <h1>Page 4</h1>
            <p>This pages currently also serves to showcase navigating with <a href="https://turbo.hotwire.dev/handbook/drive">Turbo
                    Drive</a></p>
            <h2>Showcasing Turbo Streams</h2>
            <p>Let's wrap it up and showcase showcase <a href="https://turbo.hotwire.dev/handbook/streams">Turbo Streams</a></p>
            <p>We'll have several texts that get commented on, but we only have one comment form! All comment sections will get updated from the same action at once, without us reloading the whole page</p>
            
            <h3>✨Section 1 ✨</h3>
            <p>This is a paragraph of text that gets commented on.</p>
            <p>New Comments are appended at the end</p>
            <ol id="comments_append">
            </ol>

            <h3>✨Section 2 ✨</h3>
            <p>This is a paragraph of text that gets commented on.</p>
            <p>New Comments are appended at the top</p>
            <ol id="comments_prepend">
            </ol>

            <h3>✨Section 3 ✨</h3>
            <p>This is a paragraph of text that gets commented on.</p>
            <p>It can only ever have one comment</p>
            <div id="comments_replace"></div>
            
            <h3>The FORM</h3>
            <p>Any comment you enter here will populate all three sections above</p>
            <form action="/messages/comments/stream" method="POST">
                <input type="text" name="comment" id="comment">
                <button type="submit">Send comment</button>
            </form>
        </main>
        <footer th:replace="~{fragments/footer::footer}" />
    </div>
    <script src="js/index.js" type="module" async defer></script>
</body>
</html>