<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::html-head">
    <title>Hotwire Demo</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragments/header::header}"></header>
        <nav th:replace="~{fragments/main_navigation::main_navigation('page3')}" aria-label=""></nav>
        <main>
            <h1>Page 3</h1>
            <p>This pages currently also serves to showcase navigating with <a href="https://turbo.hotwire.dev/handbook/drive">Turbo
                    Drive</a></p>

            <h2>Breaking out of a turbo frame</h2>
            <p>Let's move on to showcase <a href="https://turbo.hotwire.dev/handbook/frames#targeting-navigation-into-or-out-of-a-frame">targeting navigation</a></p>
            
            <h3>✨ Leaving the frame ✨</h3>
            <p>The contents of this frame have a <code>data-turbo-target</code> Attribute, that tells them to replace the whole page, when you click them</p>
            <turbo-frame id="break-out">
                <form action="/messages/links" method="post">
                    <button type="submit">Get the links</button>
                </form>
            </turbo-frame>

            <h3>💩 NOT Leaving the frame 💩</h3>
            <p>The contents of this frame have no <code>data-turbo-target</code> Attribute, hence navigation will happen inside the frame</p>
            <turbo-frame id="no-break-out">
                <form action="/messages/links-inside" method="post">
                    <button type="submit">Get the links</button>
                </form>
            </turbo-frame>
        </main>
        <footer th:replace="~{fragments/footer::footer}" />
    </div>
    <script src="js/index.js" type="module" async defer></script>
</body>
</html>